@model NavOS.Basecode.Services.ServiceModels.GenreViewModel

@{
    ViewData["Title"] = "Add Genre";
}
<Style>
    div.modal-header,
    div.modal-body,
    div.modal-footer{
        background-color: #212529;
        color:white;
    }
    h5.modal-title,
    label {
        color: #FFC119;
    }

    input.text-control,
    textarea.text-control{
        background-color: #212529;
        color:white;
    }
</Style>

<form enctype="multipart/form-data" asp-action="AddGenre" class="modal-content text-dark">
    <div class="modal-header">
        <h5 class="modal-title">@ViewData["Title"]</h5>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <label>Genre:</label>
            <input class="form-control border-1 shadow-none text-control" asp-for="GenreName" autocomplete="off" maxlength="30" />
            <div id="modalErrorMessage" class="text-danger"></div>
            <span asp-validation-for="GenreName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Description:</label>
            <textarea class="form-control border-1 shadow-none text-control" rows="4" asp-for="GenreDescription" autocomplete="off"></textarea>
            <span asp-validation-for="GenreDescription" class="text-danger"></span>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-warning shadow-none">Add Genre</button>
        <button type="button" class="btn btn-danger shadow-none" data-dismiss="modal">Close</button>
    </div>
</form>
