@model NavOS.Basecode.Services.ServiceModels.GenreViewModel

@{
    ViewData["Title"] = "Edit Genre";
}
<form asp-action="EditGenre" method="post">
    <input type="hidden" asp-for="GenreId" />
    
    <div class="form-group">
        <label class="text-dark">Name: </label>
        <input type="text" class="form-control" asp-for="GenreName">
        <span asp-validation-for="GenreName" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label class="text-dark">Description: </label>
        <textarea class="form-control" rows="4" asp-for="GenreDescription"></textarea>
        <span asp-validation-for="GenreDescription" class="text-danger"></span>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
</form>


