@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
                   
@{
    string AdminId = HttpContextAccessor.HttpContext.Session.GetString("AdminId");
    string AdminName = HttpContextAccessor.HttpContext.Session.GetString("AdminName");
    string Role = HttpContextAccessor.HttpContext.Session.GetString("Role");
    string AdminProfile = HttpContextAccessor.HttpContext.Session.GetString("AdminProfile");
}

@if (ViewBag.LoginView != true)
{
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color:#111111">
        <div class="container-fluid">
            <a asp-action="Index" asp-controller="Book">
                <img src="~/img/bookhub-logo.png" style="width: 100px; height: auto; margin-right:85px;" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
               <ul class="navbar-nav">
                    <li class="nav-item me-5">
                        <a class="nav-link" asp-action="TopBooks" asp-controller="Book">Top Books</a>
                    </li>
                    <li class="nav-item me-5">
                        <a class="nav-link" asp-action="NewBooks" asp-controller="Book">New Books</a>
                    </li>
                  <li class="nav-item me-5">
                      <a class="nav-link" asp-action="BookList" asp-controller="Book" id="AddBook">Book List</a>
                  </li>
                    <li class="nav-item me-5">
                        <a class="nav-link" asp-action="List" asp-controller="Admin">
                            Admin List
                        </a>
                    </li>
                  <li class="nav-item me-5">
                      <a class="nav-link" asp-action="ViewGenre" asp-controller="Genre" id="Genre">Genre</a>
                  </li>
                </ul>
              
                <div class="logosec float-start ms-auto">
                    @AdminName
                    <div class="mr-20 hover-pointer" style="position: relative">
                        <div class="dp">
                            <img src="@AdminProfile"
                                 class="dpicn hover-pointer rounded-circle"
                                 alt="@AdminName"
                                 onerror="this.src='@Url.Content("~/img/admin_profile.svg")'"
                                 style="object-fit: cover"
                                 height="80"
                                 width="80">
                        </div>
                        <div class="dropdown">
                            <ul>
                                <li class="@((Role != "Master Admin") ? "d-none" : "")">
                                    <a asp-action="List" asp-controller="Admin">
                                        <i class="fas fa-user me-3"></i>Admin List
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="BookList" asp-controller="Book">
                                        <i class="fas fa-book me-3"></i>Book List
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="SignOutUser" asp-controller="Account">
                                        <i class="fas fa-right-from-bracket me-3"></i>Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
}


