@using NavOS.Basecode.Services.ServiceModels
@model AdminViewModel

@{
    ViewData["Title"] = "Forgot Password";
    ViewBag.LoginView = true;
    ViewBag.MainStyle = true;
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/css/login-verify.css">
}

<div class="centerBox">
    <div class="box">
        <header>
            <h1>Forgot Password?</h1>
            <h5>Enter your email address</h5>
        </header>
        <div>
            <form asp-action="ForgotPassword" method="post">
                <div class="w3-container">
                    <div class="txt_field" style="margin: 30px 30px 5px 30px;">
                        <i class="fa fa-envelope"></i>
                        <input type="email" asp-for="AdminEmail" placeholder="Email Address">
                    </div>
                    <span asp-validation-for="AdminEmail" class="text-danger" style="height:20px; margin-left:30px;"></span>
                    <div class="w3-center w3-row" style="margin-bottom: 10px; margin-top:1px;">
                        <div class="w3-full w3-middle" style="margin:2px;">
                            <a asp-controller="Account" asp-action="Login" class="align-middle" >Back to login</a>
                        </div>
                    </div>
                    <div class="w3-center" style="margin-bottom: 30px;">
                        <input type="submit" name="submit" value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!---->

@section scripts {
    <script>
        var errorMessage = '@TempData["ErrorMessage"]';
        var successMessage = '@TempData["SuccessMessage"]';

        if (errorMessage) {
            toastr.error(errorMessage);
        }

        if (successMessage) {
            toastr.success(successMessage);
        }
    </script>
}