@model NavOS.Basecode.Services.ServiceModels.BookRequestViewModel
@section styles {
    <link rel="stylesheet" href="~/css/addEditBook.css" />
    <script src="~/js/editBook.js"></script>
}

<div class="container">
    <div class="bodyBorder row">
        <div class="col-md-12">
            <form method="post" enctype="multipart/form-data" asp-action="SendRequest" onsubmit="return validateForm()">
                <div class="row">
                    <!--ADD BUTTON-->
                    <div class="addNow text-white">
                        Book Request Form
                    </div>
                    <div class="bodyDetails">
                        <div class="w3-row w3-margin-bottom">

                            <!--INPUT DETAILS-->
                            <div class="w3-half">
                                <div class="form-container">
                                    <div class="form-row">
                                        <p class="text-white">
                                            Title of the Book:</pc>
                                            <input class="form-control" asp-for="BookReqTitle" />
                                    </div>

                                    <span asp-validation-for="BookReqTitle" class="text-warning bookInputSpan"></span>
                                    <div class="form-row">
                                        <p class="text-white">Author of the Book:</p>
                                        <input class="form-control" asp-for="BookReqAuthor" />
                                    </div>
                                    <span asp-validation-for="BookReqAuthor" class="text-warning bookInputSpan"></span>

                                    <div class="form-row">
                                        <p class="text-white">Chapter of the Book :</p>
                                        <input class="form-control" asp-for="BookReqChapter" />
                                    </div>
                                    <span asp-validation-for="BookReqChapter" class="text-warning bookInputSpan"></span>

                                    <div class="form-row">
                                        <p class="text-white">Genre of the Book:</p>
                                        <input class="form-control" asp-for="BookReqGenre" />
                                    </div>
                                    <span asp-validation-for="BookReqGenre" class="text-warning bookInputSpan"></span>

                                    <div class="form-row">
                                        <p class="text-white">Source of the Book:</p>
                                        <input class="form-control" asp-for="BookReqSource" />
                                    </div>
                                    <span asp-validation-for="BookReqSource" class="text-warning bookInputSpan"></span>

                                    <div class="form-row">
                                        <p class="text-white">Your Email:</p>
                                        <input class="form-control" asp-for="BookReqUserEmail" />
                                    </div>
                                    <span asp-validation-for="BookReqUserEmail" class="text-warning bookInputSpan"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 px-2 justify-content-between ms-2">
                            <div class="btn-slide float-end mt-2">
                                <button type="submit" class="trigger fw-semibold">Send Request</button>
                                <div class="slide"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@*
@section scripts {
    <script>
        let nav = document.getElementById("AddBook");
        nav.classList.add("active");
    </script>
} *@
