@using NavOS.Basecode.Services.ServiceModels
@model AdminViewModel

@{
	ViewData["Title"] = "Add Admin";
}

<div class="row" style="margin-top:30px">
	<div class="col-md-6"><h3 style="font-weight: bold;color: #FFC119">ADD ADMIN</h3></div>
	<div class="col-md-6" style="text-align: right"><h3><a asp-controller="Admin" asp-action="List" style="text-decoration: none; font-weight: bold;color: #FFC119">BACK</a></h3></div>
</div>

<style>
	.btn:hover {
		color: #212529;
	}
</style>

<form asp-action="Add" style="margin-top:30px">
	<div class="row">
		<div class="col-md-6">
			<div class="form-outline mb-4">
				<label class="form-label" for="AdminName">Admin Name</label>
				<input type="text" class="form-control" asp-for="AdminName" />
				<span asp-validation-for="AdminName" class="text-danger"></span>
			</div>
			<div class="form-outline mb-4">
				<label class="form-label" for="ContactNo">Contact Number</label>
				<input type="number" class="form-control" asp-for="ContactNo" />
				<span asp-validation-for="ContactNo" class="text-danger"></span>
			</div>
			<div class="form-outline mb-4">
				<label class="form-label" for="Dob">Date Of Birth</label>
				<input type="date" class="form-control" asp-for="Dob" />
				<span asp-validation-for="Dob" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-outline mb-4">
				<label class="form-label" for="AdminEmail">Admin Email</label>
				<input type="text" class="form-control" asp-for="AdminEmail" />
				<span asp-validation-for="AdminEmail" class="text-danger"></span>
			</div>
			<div class="form-outline mb-4">
				<label class="form-label" for="Password">Password</label>
				<input type="password" class="form-control" asp-for="Password" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="form-outline mb-4">
				<label class="form-label" for="ConfirmPassword">Confirm Password</label>
				<input type="password" class="form-control" asp-for="ConfirmPassword" />
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			</div>
		</div>
	</div>
	<div style="text-align: right">
		<button class="btn btn-outline-warning" type="submit" style="color: white">SUBMIT</button>
	</div>
</form>

@section scripts {
	<script>
		// Check for error message and display Toastr notification
		var errorMessage = '@TempData["ErrorMessage"]';
		if (errorMessage) {
			toastr.error(errorMessage);
		}
	</script>
}