@using System.IO
@using NavOS.Basecode.Data;
@using NavOS.Basecode.Services.ServiceModels
@model AdminViewModel

@{
	ViewData["Title"] = "Edit Admin";
}


<div style="margin-top:30px">
	<h3 style="font-weight: bold;color: #FFC119">EDIT ADMIN</h3>
</div>

@section styles {
	<link rel="stylesheet" type="text/css" href="~/css/imageUploader.css" />
}

<form asp-action="Edit" style="margin-top:30px" enctype="multipart/form-data">
	<input type="hidden" class="form-control" asp-for="AdminId" />
	<div class="row">
		<div class="col-sm-4">
			<div class="form-outline mb-4">
				<input type="file" accept=".png" asp-for="AdminProfile" class="AdminProfile">
				<label for="AdminProfile" class="AdminProfileLabel">
					<span class="UploadText"></span>
					@{
						string AdminImg = Model.ImageUrl;
						string AdminPicDir = PathManager.DirectoryPath.CoverImagesDirectory;
						var AdminPicCheck = AdminPicDir + "\\" + Model.AdminId + ".png";
						string imageUrl = (AdminImg != null && File.Exists(AdminPicCheck)) ? AdminImg : "#";
					}
					<img id="imagePreview" src="@imageUrl" alt="Preview">
				</label>
				<span asp-validation-for="AdminProfile" class="text-danger"></span>
			</div>
		</div>
		<div class="col-sm-8">
			<!--Admin Name-->
			<div class="row mb-4 align-items-center">
				<div class="col-sm-4">
					<label class="form-label" for="AdminName">Admin Name</label>
				</div>
				<div class="col-sm-8">
					<div class="form-outline">
						<input type="text" class="form-control" asp-for="AdminName" />
						<span asp-validation-for="AdminName" class="text-danger"></span>
					</div>
				</div>
			</div>
			<!--Contact Number-->
			<div class="row mb-4 align-items-center">
				<div class="col-sm-4">
					<label class="form-label" for="ContactNo">Contact Number</label>
				</div>
				<div class="col-sm-8">
					<div class="form-outline">
						<input type="number" class="form-control" asp-for="ContactNo" />
						<span asp-validation-for="ContactNo" class="text-danger"></span>
					</div>
				</div>
			</div>
			<!--DOB-->
			<div class="row mb-4 align-items-center">
				<div class="col-sm-4">
					<label class="form-label" for="Dob">Date Of Birth</label>
				</div>
				<div class="col-sm-8">
					<div class="form-outline">
						<input type="date" class="form-control" asp-for="Dob" />
						<span asp-validation-for="Dob" class="text-danger"></span>
					</div>
				</div>
			</div>
			<!--Admin Email-->
			<div class="row mb-4 align-items-center">
				<div class="col-sm-4">
					<label class="form-label" for="AdminEmail">Admin Email</label>
				</div>
				<div class="col-sm-8">
					<div class="form-outline">
						<input type="text" class="form-control" asp-for="AdminEmail" />
						<span asp-validation-for="AdminEmail" class="text-danger"></span>
					</div>
				</div>
			</div>
			<!--Role-->
			<div class="row mb-4 align-items-center">
				<div class="col-sm-4">
					<label class="form-label" for="Role">Role</label>
				</div>
				<div class="col-sm-8">
					<div class="form-outline">
						<select class="form-control" asp-for="Role">
							<option value="Admin">Admin</option>
							<option value="Master Admin">Master Admin</option>
						</select>
						<span asp-validation-for="Role" class="text-danger"></span>
					</div>
				</div>
			</div>

			<div class="d-flex justify-content-end">
				<div class="btn-group" role="group">
					<a asp-controller="Admin" asp-action="List" class="btn btn-outline-warning rounded"><i class="fa fa-arrow-left" aria-hidden="true"></i> BACK</a>
					<button class="btn btn-warning rounded" type="submit" style="margin-left: 20px">SUBMIT</button>
				</div>
			</div>
		</div>
	</div>
</form>
	

@section scripts {
	<script>
		// Check for error message and display Toastr notification
		var errorMessage = '@TempData["ErrorMessage"]';
		if (errorMessage) {
			toastr.error(errorMessage);
		}
	</script>
	<script src="~/js/imagePreview.js"></script>

}