@using static NavOS.Basecode.Resources.Views.Screen

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="~/img/bookhub-logo.png"/>
    <link rel="shortcut icon" type="image/ico" href="~/img/bookhub-logo.png" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/review.css"/>
    <link rel="stylesheet" href="~/css/allbooks.css"/>
    <link rel="stylesheet" href="~/css/backtotop.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    @RenderSection("Styles", required: false)
</head>
<body>
    @Html.Partial("_Header")
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <!-- Back to top Button-->
    <div class="col-md-11 col-12">
        <a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top shadow-none" role="button"><i class="fas fa-chevron-up"></i></a>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/backtotop.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>
    <script src="https://kit.fontawesome.com/7a7c645416.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script>
        // Configure Toastr options
        toastr.options = {
            positionClass: "toast-top-center", 
            timeOut: 3000,
            closeButton: true,
            progressBar: true
        };
    </script>
     
    <script>
        var isRatingClicked = false;

        function validateForm() {
            var rateInput = document.getElementById("Rate");
            var rateValue = parseInt(rateInput.value);

            var rateValidationMessage = document.getElementById("rateValidationMessage");

            if (rateValue === 0) {
                rateValidationMessage.textContent = "Please rate 1-5";
                return false;
            }

            rateValidationMessage.textContent = "";

            return true;
        }

        // Script for rating
        const stars = document.querySelectorAll('.star-rating');
        const ratingInput = document.getElementById('Rate');

        stars.forEach(star => {
            star.addEventListener('click', () => {
                const value = star.getAttribute('data-value');

                isRatingClicked = true;

                stars.forEach(s => {
                    s.removeEventListener('mouseover', hoverEffect);
                });

                stars.forEach(s => {
                    const sValue = s.getAttribute('data-value');
                    if (sValue <= value) {
                        s.classList.add('yellow-star');
                    } else {
                        s.classList.remove('yellow-star');
                    }
                });
                ratingInput.value = value;
            });
        });

        // Script for stars
        function highlightStars(count) {
            if (!isRatingClicked) {
                const stars = document.querySelectorAll('.star-rating');
                for (let i = 0; i < count; i++) {
                    stars[i].classList.add('yellow-star');
                }
                for (let i = count; i < stars.length; i++) {
                    stars[i].classList.remove('yellow-star');
                }
            }
        }

        // Hover effect function
        function hoverEffect() {
            const value = this.getAttribute('data-value');
            highlightStars(value);
        }

        stars.forEach(star => {
            star.addEventListener('mouseover', hoverEffect);
        });
    </script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
