@using NavOS.Basecode.Services.ServiceModels;
@model NavOS.Basecode.Services.ServiceModels.BookViewModel
@{
    ViewData["Title"] = "Add Book";
    var genres = ViewData["Genre"] as List<NavOS.Basecode.Services.ServiceModels.GenreViewModel>;

}

@section styles {
    <link rel="stylesheet" href="~/css/addEditBook.css" />
    <script src="~/js/addBook.js"></script>
}


<div class="container">
    <div class="bodyBorder row">
        <div class="col-md-12">
            <form method="post" enctype="multipart/form-data" asp-action="AddBook" onsubmit="return validateForm()">
                <div class="row">
                    <!--ADD BUTTON-->
                    <div class="addNow">
                        Book Details
                    </div>
                    <div class="bodyDetails">
                        <div class="w3-row w3-margin-bottom">

                            <!--BOOK IMAGE-->
                            <div class="w3-col imgPaddingRight">
                                <img id="bookImage" src="~/img/default-book.jpg" class="bookImgStyle">
                                <input type="file" class="form-control mt-2" asp-for="ImageFile" accept="image/*" onchange="displayImage(this)">
                                <span asp-validation-for="ImageFile" class="text-warning spanImgFile"></span><br><br>
                            </div>

                            <!--INPUT DETAILS-->
                            <div class="w3-half">
                                <div class="form-container">
                                    <div class="form-row">
                                        <p>Title:</p>
                                        <input class="form-control" asp-for="BookTitle" />
                                    </div>
                                    <span asp-validation-for="BookTitle" class="text-warning bookInputSpan"></span>
                                    <div class="form-row">
                                        <p>Author:</p>
                                        <input class="form-control" asp-for="Author" />
                                    </div>
                                    <span asp-validation-for="Author" class="text-warning bookInputSpan"></span>
                                    <div class="form-row">
                                        <p>Status:</p>
                                        <select id="status" name="Status" asp-for="Status" required>
                                            <option value="" disabled selected>Select Status</option>
                                            <option value="Ongoing" class="text-dark">Ongoing</option>
                                            <option value="Completed" class="text-dark">Completed</option>
                                            <option value="Hiatus" class="text-dark">Hiatus</option>
                                        </select>
                                    </div>
                                    <span asp-validation-for="Status" class="text-warning bookInputSpan"></span>
                                    <div class="form-row">
                                        <p>Chapter:</p>
                                        <input type="number" class="form-control" asp-for="Chapter"/>
                                    </div>
                                    <span asp-validation-for="Chapter" class="text-warning bookInputSpan"></span>
                                    <div class="form-row">
                                        <p>Date:</p>
                                        <input type="date" class="form-control" asp-for="DateReleased" />
                                    </div>
                                    <span asp-validation-for="DateReleased" class="text-warning bookInputSpan"></span>
                                    <div class="form-row">
                                        <p>Genre:</p>
                                        <div class="dropdown genre-dropdown">
                                            <button class="genreText" id="genreDropdownBtn">Choose Genre</button>
                                            <div class="dropdown-content">
                                                @if (genres != null)
                                                {
                                                    <div class="scrollable-genres">
                                                        @foreach (var genre in genres)
                                                        {
                                                            <label>
                                                                <input type="checkbox" name="SelectedGenres" value="@genre.GenreName" onchange="updateButtonText()" required>
                                                                <span class="genre-style">@genre.GenreName</span>
                                                                
                                                            </label>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <span id="genreValidationError" class="text-warning bookInputSpan"></span>
                                </div>
                            </div>
                        </div>

                        <!--INPUT SUMMARY-->
                        <div class="w3-row">
                        <h7 class="w3-margin-bottom summaryLabel w3-half">SUMMARY</h7>
                        <button type="submit" class="addbtn w3-half">+ADD NOW</button>
                        </div>
                        <span asp-validation-for="Summary" class="text-warning summarySpan"></span>
                        <div class="w3-border">
                            <textarea rows="7" class="w3-justify w3-text-white w3-padding" asp-for="Summary"></textarea>
                        </div>
                        <br>
                    </div>
                </div>
            </form>
        </div>     
    </div>
</div>

@section scripts {
    <script>
        let nav = document.getElementById("AddBook");
        nav.classList.add("active");
    </script>
}
