.addNow {
    background-color: #FFC119;
    font-weight: bolder;
    color:#000;
    text-indent: 10px;
    padding:12px;
}
.addbtn {
    background-color: transparent;
    padding: 10px 20px;
    color: white;
    transition: background-color 0.3s, color 0.3s;
    border: 2px solid white;
    float: right;
    width: 150px;
    text-align:center;
}

.addbtn:hover {
    background-color: #00A651; 
    border:none;
}

.bodyDetails {
    padding: 30px;
    color: white;
}

.imgName {
    overflow-wrap: break-word;
}

.imgPaddingRight {
    margin-right: 60px;
    width: 230px;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-row {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.form-row p {
    margin: 0;
    width: 95px;
}

.form-container input, .genre-dropdown, select {
    color: white;
    height:37px;
    border-radius: 10px;
    width: 70%;
    background-color: transparent;
    border: 2px solid white;
}

.genre-dropdown {
    position: relative;
    display: inline-block;
    margin-left:31px;
}

.dropdown-content label {
    display: flex;
}

.dropdown-content {
    border-radius:10px;
    margin-top:7px;
    width: 100%;
    border: 1px solid white;
    display: none;
    position: absolute;
    background-color: #212529F5;
    z-index: 1;
}

.dropdown button {
    color: white;
    background-color: transparent;
    border: 0;
}

.dropdown-content label input[type="checkbox"] {
    margin-right: 10px;
    width: auto;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.summaryLabel {
    display: inline-block;
    padding: 15px;
    color: #FFC119;
    font-weight: bold;
    width: 130px;
    text-align: center;
    margin-left:-20px;
}

textarea {
    width: 100%;
    background-color: transparent;
    resize: none;
    border: 0;
    outline:none;
}

/* ADDED */
.boxShadow{
    box-shadow:none;
}

.bookImgStyle {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.spanImgFile {
    height: 20px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.bodyBorder {
    border: 1px solid #fff;
}

.bookInputSpan {
    margin-left: 100px;
    height: 20px;
    margin-top: -20px;
    margin-bottom: 10px;
}

.summarySpan {
    height: 20px;
    margin-bottom: 10px;
}

.scrollable-genres {
    max-height: 185px;
    overflow-y: auto;
}

.genreText{
    margin-top:5px;
    margin-left:10px;
}

select {
    appearance: none;
    padding-left:12px;
}
.genre-style{
    margin-top:8px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
.form-control:focus {
    background-color: transparent;
    color:white;
    box-shadow:none;
    border-color:white;
}
.form-control[type="number"]::-webkit-inner-spin-button,
.form-control[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.genre-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.navbar-nav .nav-link.nav-active{
    color: #FFC119;
}
