.AdminProfile {
    display: none;
}

.AdminProfileLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    margin-top: 12px;
    border-radius: 6px;
    border: 1px dashed #FFC119;
    color: #FFC119;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

    .AdminProfileLabel img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.UploadText {
    position: absolute;
}
