.pagination .page-item.active a {
    background-color: #00A651;
    box-shadow: none;
}

.pagination .page-item:not(.active) a {
    background-color: transparent;
    color: #000;
}

.pagination .page-item a {
    border: none;
}

.pagination .page-item a:hover {
    background-color: #00A651;
    color: white;
}
