@{
    ViewData["Title"] = "Home Page";

    // Create a list of dummy data for the cards
    List<string> dummyData = new List<string> { "Card 1", "Card 2", "Card 3", "Card 4", "Card 5", "Card 6", "Card 7", "Card 8", "Card 9", "Card 10", "Card 11", "Card 12" };
}
<style>
    .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Number of lines to display before truncation */
        -webkit-box-orient: vertical;
    }

</style>
<div class="row mt-5 mx-1">
    <div class="col-9 col-md-11 ms-5 px-2">
            <a asp-action="Index" asp-controller="Book" class="btn btn-warning text-dark float-end" style="box-shadow:none;">View all Books</a>
    </div>
</div>
<div class="col-md-12">
    <div class="row mt-3">
        <!-- TOP BOOKS -->
        <div class="col-md-12 mb-3">
            <span class="h4 mx-3" style="color:#FFC119 ">TOP BOOKS</span>
        </div>
        <!-- Book List -->
        <div class="col-md-12 mx-2">
            <ul class="row mt-3 list-unstyled mx-auto" style="padding-left: 0;">
                @for (int i = 0; i < 5; i++)
                {
                    <li class="col-10 col-md-3 col-xl-2 mb-3 mx-3">
                        <div class="card w-100">
                            <a asp-action="ViewBooks" asp-controller="Book" class="text-decoration-none text-dark">
                                <img class="card-img-top" height="250" width="100" src="~/img/default-book.jpg" alt="Card image cap">
                                <div class="card-body text-center">
                                    <h5 class="card-title">@dummyData[i]</h5>
                                    <p class="card-text ellipsis">Description lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum .</p>
                                </div>
                            </a>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="row mt-3">
        <!-- LATEST BOOKS -->
        <div class="col-md-12 mb-3">
            <span class="h4 ms-3" style="color:#FFC119 ">LATEST BOOKS</span>
        </div>
        <!-- Book List -->
        <div class="col-md-12 mx-2">
            <ul class="row mt-3 list-unstyled mx-auto" style="padding-left: 0;">
                @for (int i = 0; i < 5; i++)
                {
                    <li class="col-10 col-md-3 col-xl-2 mb-3 mx-3">
                        <div class="card w-100">
                            <a asp-action="ViewBooks" asp-controller="Book" class="text-decoration-none text-dark">
                                <img class="card-img-top" height="250" width="100" src="~/img/LiveIT.png" alt="Card image cap">
                                <div class="card-body text-center">
                                    <h5 class="card-title">@dummyData[i]</h5>
                                    <p class="card-text ellipsis">Description lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum .</p>
                                </div>
                            </a>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
